@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');


body {
    --bg: #121212;
    --text: #ffffff;
    --prim: #82c5ff;
    --scnd: #656951;
    --scndtext: #454545;
    
    background-color: var(--bg);
    color: var(--text);
    font-family: 'Gowun Dodum', sans-serif;
    font-weight: 400;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

body::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
}

ul,
li {
    text-decoration: none;
}

a:link,
:active,
:visited,
:active {
    color: var(--text);
}

a:hover {
    color: var(--prim);
}


ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu {

    font-size: 18 px;
    letter-spacing: 0.6px;
    display: flex;
    width: 90vw;
    max-width: 300px;
    justify-content: space-between;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);

}

.menu-link {
    padding: 10px;
    color: var(--scndtext);

}
.menu-link:hover{
    color: var(--scnd);
    
}

.container {
    width: 30%;
    min-width: 330px;
    max-width: 500px;
    position: absolute;
    top: 60px;
    margin-left: 2px;
    left: 50%;
    transform: translateX(-50%);

}

.pt.two:hover{
    visibility: hidden;
}

#one:hover ~{
    color: var(--prim);
}

.text {
    font-family: 'Gowun Dodum', sans-serif;
    letter-spacing: 1.13px;
    opacity: 87%;
    font-size: 15px;
    line-height: 23.8px;
    padding: 0;
    margin: 0 0 4px 0;
    word-spacing: -1.8px;

}


.text.en {
    color: var(--scnd);
    letter-spacing: 1.2px;
    opacity: 87%;
    font-size: 15px;
    line-height: 21.3px;
}

.gallery {
    position: absolute;
    top: 60px;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;

    width: 90vw;
    margin: 0 5% 0 5%
}

.thumb-img {
    padding: 30px;
    text-align: center;
}

.thumb-img img {
    width: 300px;
}

footer {
    position: absolute;
    top: 100vh;
}

.contact {
    word-spacing: 0px;
}

u {
    text-underline-position: under;

}

.pt-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.presentation {
    visibility: hidden;
    position: absolute;
    top: 360px;
    left: 50%;
    margin: 0 0 40px 0;
    width: 86vw;
    max-width: 720px;
    transform: translateX(-50%);
    aspect-ratio: 16 / 9;

}

.presentation.bg {
        visibility: hidden;

    background-color: black;
    box-shadow: 0px 0px 30px 15px black;
}

.pt {
        visibility: hidden;

    opacity: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 95%;

}

.grain {
    width: 86vw;
    max-width: 720px;
    aspect-ratio: 16 / 9;
    overflow: hidden;

}

.vignette {
    box-shadow: 0px 0px 300px 15px rgba(0, 0, 0, 0.2) inset;

}

.grain:after {
    content: '';
    width: 110%;
    height: 110%;
    position: absolute;
    top: -5%;
    left: -5%;
    opacity: .12;
    background: url('./grain.jpg');
    -webkit-animation: grain 0.5s steps(1) infinite;
    animation: grain 0.5s steps(1) infinite;
}

@keyframes grain {

    0%,
    100% {
        transform: translate(0, 0, 0);
    }

    10% {
        transform: translate(-1%, -1%);
    }

    20% {
        transform: translate(1%, 1%);
    }

    30% {
        transform: translate(-2%, -2%);
    }

    40% {
        transform: translate(3%, 3%);
    }

    50% {
        transform: translate(-3%, -3%);
    }

    60% {
        transform: translate(4%, 4%);
    }

    70% {
        transform: translate(-4%, -4%);
    }

    80% {
        transform: translate(2%, 2%);
    }

    90% {
        transform: translate(-3%, -3%);
    }
}




@media (min-width: 1211px) {
    .presentation {
        top: 330px;

    }
}

@media (min-width: 1239px) {
    .presentation {
        top: 310px;

    }
}

@media (min-width: 1297px) {
    .presentation {
        top: 290px;

    }
}

@media (min-width: 1869px) {
    .presentation {
        top: 250px;

    }
}

@media (max-width:480px) {
    .menu {
        top: 16.5px;
    }

    .container {
        top: 55.5px;
    }

     .presentation {
        top: 334px;
        width: 95vw;
        height:  calc(90vh - 370px);

    }
    
    
}
