@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');



body {
    --bg: #121212;
    --text: #ffffff;
    --prim: #6499ff;
    --scnd: #61e578;
    --scndtext: #5690ff;
    --thrd: rgba(255, 255, 255, 0.87);
    --menutext: #454545;
    --line: 0.4px;
    --linescnd: 0.3px;

    background-color: var(--bg);
    color: var(--text);
    font-family: 'Gowun Dodum', sans-serif;
    font-weight: 400;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;
}

body::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
}

ul,
li {
    text-decoration: none;
}

a:link,
:active,
:visited,
:active {
    color: var(--text);
}

.menu-link:link {
    color: var(--menutext);
}

a:hover {
    color: var(--prim);
}


ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu {
    font-size: 18 px;
    letter-spacing: 0.6px;
    display: flex;
    width: 90vw;
    max-width: 300px;
    justify-content: space-between;
    position: fixed;
    top: 20px;
    left: 50%;
    z-index: 99;
    transform: translateX(-50%);


}

.menu-link {
    padding: 10px;
    -webkit-text-stroke-width: var(--line);
    -webkit-text-stroke-color: var(--menutext);
    color: var(--menutext);

}

.menu-link:hover {
    color: var(--thrd);
    -webkit-text-stroke-width: var(--line);
    -webkit-text-stroke-color: var(--thrd);

}

.container {
    display: flex;
    flex-direction: column;
    width: 30%;
    min-width: 330px;
    max-width: 500px;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
}



.lab-container {
    width: 100vw;
    position: absolute;
    top: 60px;
    text-align: center;
    line-height: 9px;
    margin-left: 6px;

}
.lab-item{
    display: flex;
    flex-direction: row;
        overflow: scroll;
        margin: 0 6px 0 0px;
    
}
.wrk-image-container{
    position: fixed;
    pointer-events: none; 
    height: calc(100vh - 445px);
    width:100%;
    top: 250px;


}

.wrk-container {
    padding: 0;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    background: black;
    left: 50%;
    margin: 4.6vh 0 25px 0;
    width: 70vw;
    transform: translateX(-50%);
    background-color: #000000;
    box-shadow: 0px 0px 20px 12px rgb(0, 0, 0);
    gap:0px;

}


.wrk-container::after{
    position: absolute;
    content: "";
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: transparent;

    box-shadow: 0px 0px 20px 6px rgba(39, 39, 39, 0.4) inset;
    pointer-events: none; 
}
.wrk-container:last-child{
 padding-bottom: 0px;   
}




@media (max-width:1900px){
    .wrk-container {grid-template-columns: repeat(2, minmax(400px, 1fr));
        width: 90vw;
}
    
}

@media (max-width:1412px){
    .wrk-container {grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}
    
}

@media (max-width:880px){
    .wrk-container {grid-template-columns: repeat(auto-fill, minmax(90vw, 1fr));
}
    
}
@media (max-width:480px){
    .wrk-container {grid-template-columns: repeat(auto-fill, minmax(96vw, 1fr));
        width: 96vw;
}
    
}

.text-container{
    padding-left:2px;
}



.wrk-container img {
opacity: 95%;
    width: 100%;
    height: auto;
    padding:0;
    margin:0



}


.lab-container img {
    width: calc(100vw - 24px);
    max-width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 6px;
}

.pt.two:hover {
    visibility: hidden;
}

#one:hover ~ {
    color: var(--prim);
}

.text {
    font-family: 'Gowun Dodum', sans-serif;
    letter-spacing: 1.1px;
    opacity: 87%;
    font-size: 14.8px;
    line-height: 22.2px;
    padding: 0;
    margin: 3px 0 2px 0;
    word-spacing: -1px;

      -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
      
}


.title{
   text-align: center;
    margin-top: 2px;
    margin-bottom: 7.2px;
    opacity: 0.87;
    color: var(--scndt);  

}

.subtitle{

    font-size: 12px;
        margin-bottom: 8px;
    line-height: 16px;

}

.text.en {
    color: var(--scnd);
    letter-spacing: 1.1px;
    word-spacing: -2px;
    font-size: 14.5px;
    line-height: 20.7px;
    margin: 3px 0 2px 0;

    -webkit-text-stroke-width: var(--linescnd);
    -webkit-text-stroke-color: inherit;
    
          transition-property: color;


  transition-duration: 0.2s;
    

}

.gallery {
    position: absolute;
    top: 60px;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;

    width: 90vw;
    margin: 0 5% 0 5%
}

.thumb-img {
    padding: 30px;
    text-align: center;
}

.thumb-img img {
    width: 300px;
}

footer {
    position: absolute;
    top: 100vh;
}

.contact {
    word-spacing: -1.2px;
}

u {
    text-underline-position: under;

}

.pt-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.presentation {
    visibility: hidden;
    position: absolute;
    left: 50%;
    margin: 40px 0 40px 0;
    width: 86vw;
    max-width: 720px;
    transform: translateX(-50%);
    aspect-ratio: 16 / 9;
    z-index: 999;
  transition-property: opacity;


  transition-duration: 0.2s;
    
}

.presentation.bg {
    visibility: hidden;

    background-color: black;
    box-shadow: 0px 0px 30px 15px black;
}

.pt {
    visibility: hidden;

    opacity: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 95%;

}

.grain {
    width: 86vw;
    max-width: 720px;
    aspect-ratio: 16 / 9;
    overflow: hidden;

}

.vignette {
    box-shadow: 0px 0px 300px 15px rgba(0, 0, 0, 0.2) inset;

}

#one{
       /*  animation: blink 0.4s 1.5;
            -webkit-animation: blink 0.4s 1.5;
          transition-duration: 0s; */
}
.grain:after {
    content: '';
    width: 110%;
    height: 110%;
    position: absolute;
    top: -5%;
    left: -5%;
    opacity: .12;
    background: url('./grain.jpg');
    -webkit-animation: grain 0.5s steps(1) infinite;
    animation: grain 0.5s steps(1) infinite;
}

.loadmore {
    padding: 15px;
}



@keyframes grain {

    0%,
    100% {
        transform: translate(0, 0, 0);
    }

    10% {
        transform: translate(-1%, -1%);
    }

    20% {
        transform: translate(1%, 1%);
    }

    30% {
        transform: translate(-2%, -2%);
    }

    40% {
        transform: translate(3%, 3%);
    }

    50% {
        transform: translate(-3%, -3%);
    }

    60% {
        transform: translate(4%, 4%);
    }

    70% {
        transform: translate(-4%, -4%);
    }

    80% {
        transform: translate(2%, 2%);
    }

    90% {
        transform: translate(-3%, -3%);
    }
}

@keyframes blink {
    0%{
        color: var(--scnd);
    }
    24%{
        color: var(--scnd);

    }
    25%{
        color: var(--text);
    }49%{
        color: var(--text);
    }
    50%{
        color: var(--scnd);
    }74%{
        color: var(--scnd);
    }
    75%{
        color: var(--text);
    }99%{
        color: var(--text);
    }
    

    
}



@media (max-width:480px) {
    .menu {
        top: 16.5px;
    }

    .container {
        top: 55.5px;
    }

    .presentation {
        margin: 25px 0 0 0;
        height: calc(100vh - 445px);
        width: 100vw;
        aspect-ratio: 1.1/1;
    }
    .grain{
        width: 100vw;
        aspect-ratio: 1.1/1;

    }
    .wrk-container{
            margin: 25px 0 25px 0;

    }


    

}
